@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


@font-face {
    font-family: 'CustomFont';
    src: url('./mademellow.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'CustomFontLight';
    src: url('./mademellow_light.otf') format('opentype');
    font-weight: lighter;
    font-style: normal;
  }

  @font-face {
    font-family: 'Nohemi';
    src: url('./Nohemi-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Libre Baskerville';
  font-weight: 400;
  font-style: italic;
  src: url('https://fonts.gstatic.com/s/librebaskerville/v12/kmKnZrc3Hgbbcjq75U4uslyuy4kn0qNM.woff2') format('woff2');
}

@font-face {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  src: url('https://fonts.gstatic.com/s/robotomono/v9/L0x6DF4xlVMF-BfR8bXMIjAoq3o3WvfTfYk.woff2') format('woff2');

}